.main_container {
  width: 800px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.container {
  margin-bottom: 150px;
  padding: 55px;
  border: 1px solid blueviolet;
  border-radius: 1rem;
}

.container p {
  text-align: center;
  font-size: 40px;
  color: blueviolet;
}

button {
  font-size: 35px;
  padding: 8px 35px;
  margin: 15px;
  color: blueviolet;
  border: 1px solid blueviolet;
  background-color: white;
}

button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

hr {
  margin-bottom: 150px;
}
